@import "../../assets/styles/mixins.scss";

.LandingPage {
  @extend %scrollbar;
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-between;
  overflow-y: scroll;
  position: relative;
  width: 100vw;

  .Button,
  .Button--secondary {
    margin-bottom: 1rem;
    width: 50%;
  }

  h2 {
    font-weight: normal;
    margin-bottom: 1rem;

    span {
      font-weight: bold;
    }
  }

  p {
    span {
      font-style: italic;
    }
  }
}

.LandingPage__about {
  font-size: 1.25rem;
  font-weight: normal;
  margin-top: 2rem;
  text-align: initial;
  padding: 0 5%;

  h1 {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 1rem;
  }

  svg {
    margin-left: 0.5rem;
  }
}

.LandingPage__actions {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.LandingPage__intro {
  margin-top: 5rem;
  text-align: center;

  p {
    margin-bottom: 1rem;
  }
}

.LandingPage__logo {
  // margin-top: 2rem;
  text-align: center;
}
