.LandingPage {
  align-items: center;
  // background: linear-gradient(90deg, #0F0C29 0%, #302B63 50%, #24243E 100%);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100vw;

  .Button {
    margin-bottom: 1rem;
    width: 50%;
  }

  footer {
    bottom: 0;
    font-size: .75rem;
    padding: 1rem;
    position: absolute;
    text-align: center;
    width: 100%;

    span {
      display: inline-block;
      transform: scale(-1, 1);
    }
  }

  h2 {
    font-weight: normal;
    margin-bottom: 1rem;

    span {
      font-weight: bold;
    }
  }

  p {
    span {
      font-style: italic;
    }
  }
}

.LandingPage__intro {
  text-align: center;

  p {
    margin-bottom: 1rem;
  }
}

.LandingPage__logo {
  align-items: center;
  display: flex;

  h1 {
    margin-left: .5rem;
  }
}
