@import "assets/styles/_mixins";

/**
 * LandingPage
 */

.LandingPage {
  display: grid;
  grid-template-rows: 1fr 50% 1fr;

  height: inherit;
  position: relative;
  width: 100vw;

  .Button,
  .Button--secondary {
    margin-bottom: 1rem;
    width: 50%;
  }

  h2 {
    font-weight: normal;
    margin-bottom: 1rem;

    span {
      font-weight: bold;
    }
  }

  p {
    span {
      font-style: italic;
    }
  }
}

.LandingPage__about {
  @extend %scrollbar;

  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  font-weight: normal;
  justify-content: center;
  overflow-y: scroll;
  text-align: initial;
  padding: 0 5%;

  h1 {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 1rem;
  }

  svg {
    margin-left: 0.5rem;
  }
}

.LandingPage__actions {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.LandingPage__intro {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  p {
    margin-bottom: 1rem;
  }
}

.LandingPage__logo {
  text-align: center;
}
