@import "assets/styles/_colors";

/**
 * Button
 */

%button {
  border: none;
  border-radius: 2px;
  font-size: 1rem;
  height: 2.5rem;
  margin: 0;
  max-width: 13rem;
  min-width: 5rem;
  padding: 0 0.75rem;

  &:hover {
    cursor: pointer;
  }
}

.Button {
  @extend %button;
  background-color: $blue-base;
  color: #fff;

  &:hover {
    background-color: darken($blue-base, 25%);
  }
}

.Button--disabled {
  @extend %button;
  background-color: #999;
  color: #666;

  &:hover {
    cursor: default;
  }
}

.Button--secondary {
  @extend %button;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;

  &:hover {
    text-decoration: underline;
  }
}

.Button--small {
  @extend %button;
  background-color: #fff;
  font-size: 0.875rem;
  margin: 0.5rem 0;

  svg {
    margin-right: 0.5rem;
  }
}
