/**
 * Header
 */

.Header {
  align-items: center;
  border-bottom: 1px solid rgba(#fff, 0.15);
  display: flex;
  height: 3rem;
  justify-content: space-between;
  width: 100%;

  a {
    margin-left: 1rem;
    text-decoration: none;
  }

  h1 {
    font-size: 1.25rem;
    margin-left: 0.5rem;
  }

  .Button--secondary {
    background-color: transparent;
    border: none;
    margin-right: 1rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
