@import "../../assets/styles/colors";
@import "../../assets/styles/mixins";

.Select {
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.Select__label {
  padding: 5px 0;
  font-size: 0.6rem;
  font-weight: 600;
  opacity: 0.7;
  padding: 5px 0;
  position: absolute;
  text-transform: uppercase;
  top: -20px;
}
.Select__label--hidden {
  @extend %visibility-hidden;
}
.Select__select {
  border: none;
  border-bottom: 2px solid $blue-base;
  background: transparent;
  font-size: 1em;
  // padding: 7px 5px;
  color: $blue-base;
}

.Select__option {
  background: white;
  border: none;
  font-size: 14px;
  width: 100%;
}
