@import "../../assets/styles/colors";
.Select {
  display: inline-flex;
  flex-direction: column;
  position: relative;
}
.Select__label {
  position: absolute;
  top: -20px;
  padding: 5px 0;
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.7;
}
.Select__select {
  padding: 7px 5px;
  border: 3px solid $blue-base;
  border-radius: 3px;
  color: $blue-base;
  font-size: 1rem;
  font-weight: 600;
}
.Select__option {
  font-size: 14px;
  border: none;
  width: 100%;
  background: white;
}
