@import "../../assets/styles/colors.scss";
@import "../../assets/styles/keyframes.scss";
@import "../../assets/styles/mixins.scss";

/**
 * Dashboard
 */

.Dashboard {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: inherit;
  width: inherit;
}

/**
 * Following
 */

%following {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: calc(100vh - 3rem - 1px);
  width: 100vw;
}

.Following {
  @extend %following;
}

.Following__actions {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 10rem;
  justify-content: center;
}

.Following__buttons {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
  padding: 0 1rem;
}

.Following__icon {
  @extend %flex-center;
  align-self: center;
  animation: rotation 1s infinite linear;
  margin-bottom: 1rem;
  width: 20%;
}

.Following__icon--broom {
  @extend %flex-center;
  border: 1px solid #fff;
  border-radius: 50%;
  height: 5rem;
  margin-bottom: 1rem;
  width: 5rem;

  animation: broom 3s ease-in-out infinite alternate;

  svg {
    transform: rotate(-45deg);
  }
}

.Following__header {
  border-bottom: 1px solid rgba(#fff, 0.25);
  box-shadow: 0 0.5rem 0 0 rgba(#000, 0.15);

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;

  > div {
    position: relative;
  }

  p {
    font-size: 1.75rem;

    + p {
      margin-top: 1rem;
    }
  }

  svg {
    margin-left: 0.5rem;
  }
}

.Following__list {
  @extend %scrollbar;
  overflow-y: scroll;
}

.Following__list--empty {
  @extend %flex-center;
  flex-direction: column;
  height: 100%;
  padding: 0 1rem;

  p {
    font-size: 1.5rem;
    opacity: 0.5;
  }
}

.Following--loading {
  @extend %following;
}

.Following__text {
  margin: 0 2rem;

  p {
    text-align: center;

    &:first-of-type {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
    }
  }
}

.Following__timeframe {
  color: #fff;
  display: inline-block;
  margin-left: 0.5rem;
  text-decoration: underline;

  &:hover {
    color: $blue-base;
    cursor: pointer;
  }
}

.Following__total {
  color: $blue-base;
  display: inline-block;
  font-size: 1.25em;
  font-weight: bolder;
  margin-left: 0.5rem;
}

.Following__wrapper {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: center;
}

/**
 * Friend
 */

%avatar {
  @extend %flex-center;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 4rem;
  overflow: hidden;
  width: 4rem;

  img {
    height: 4rem;
    width: 4rem;
  }
}

.Friend {
  border: 1px solid rgba(#fff, 0.15);
  border-width: 1px 0;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 3fr;
  padding: 1rem;
  position: relative;

  &:hover {
    background-color: rgba(#000, 0.15);
  }

  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1rem;
    font-weight: normal;
  }

  .Button {
    border: none;
    color: #fff;
    height: 2rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 5rem;
    -webkit-appearance: none;

    &:hover {
      backtround-color: #000;
      cursor: pointer;
    }
  }
}

.Friend__avatar {
  @extend %avatar;
}

.Friend__avatar--selected {
  @extend %avatar;
  background-color: $blue-base;
}

.Friend__description {
  font-size: 0.875rem;
}

.Friend__id {
  margin-bottom: 0.5rem;
}
