@import "../../assets/styles/colors.scss";
@import "../../assets/styles/keyframes.scss";
@import "../../assets/styles/mixins.scss";

/**
 * Dashboard
 */

.Dashboard {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: inherit;
  width: inherit;
}

/**
 * Following
 */

%following {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: calc(100vh - 3rem - 1px);
  width: 100vw;
}

.Following {
  @extend %following;
}

.Following__actions {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 10rem;
  justify-content: center;
}

.Following__buttons {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
  padding: 0 1rem;
}

.Following__icon {
  @extend %flex-center;
  align-self: center;
  animation: rotation 1s infinite linear;
  margin-bottom: 1rem;
  width: 20%;
}

.Following__icon--broom {
  @extend %flex-center;

  animation: broom 3s ease-in-out infinite alternate;
  border: 1px solid #fff;
  border-radius: 50%;
  height: 5rem;
  margin-bottom: 1rem;
  width: 5rem;

  svg {
    transform: rotate(-45deg);
  }
}

.Following__header {
  align-items: center;
  border-bottom: 1px solid rgba(#fff, 0.25);
  box-shadow: 0 0.5rem 0 0 rgba(#000, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;

  > div {
    position: relative;
  }

  p {
    font-size: 1.75rem;

    + p {
      margin-top: 1rem;
    }
  }

  svg {
    margin-left: 0.5rem;
  }
}

.Following__intro {
  position: relative;

  > div {
    position: initial !important; // force reset of React Select div
  }
}

.Following__list {
  @extend %scrollbar;
  overflow-y: scroll;
}

.Following__list--empty {
  @extend %flex-center;
  flex-direction: column;
  height: 100%;
  padding: 0 1rem;

  p {
    font-size: 1.5rem;
    opacity: 0.5;
  }
}

.Following--loading {
  @extend %following;
}

.Following__text {
  margin: 0 2rem;

  p {
    text-align: center;

    &:first-of-type {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
    }
  }
}

.Following__timeframe {
  color: #fff;
  display: inline-block;
  margin-left: 0.5rem;
  text-decoration: underline;

  &:hover {
    color: $blue-base;
    cursor: pointer;
  }
}

.Following__title {
  height: inherit;
  line-height: inherit;
  // used as a reference to position the Select component
  &::after {
    content: "";
    height: 2.5rem;
    position: absolute;
  }
}

.Following__total {
  color: $blue-base;
  display: inline-block;
  font-size: 1.25em;
  font-weight: bolder;
  margin: 0 0.5rem;
}

.Following__wrapper {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: center;
}

/**
 * Friend
 */

%avatar {
  @extend %flex-center;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 4rem;
  overflow: hidden;
  width: 4rem;

  img {
    height: 4rem;
    width: 4rem;
  }
}

.Friend {
  border: 1px solid rgba(#fff, 0.15);
  border-width: 1px 0;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 3fr;
  padding: 1rem;
  position: relative;

  &:hover {
    background-color: rgba(#000, 0.15);
  }

  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1rem;
    font-weight: normal;
  }

  .Button {
    -webkit-appearance: none;
    border: none;
    color: #fff;
    height: 2rem;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    width: 5rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.Friend__avatar {
  @extend %avatar;
}

.Friend__avatar--selected {
  @extend %avatar;
  background-color: $blue-base;
}

.Friend__description {
  font-size: 0.875rem;
}

.Friend__id {
  margin-bottom: 0.5rem;
}

/**
 * React Select
 */

// shared between Select__control and Select__menu
$select_height: 2.5rem;
$select_width: 11rem;

.Select__control {
  background: transparent !important;
  border: none !important;
  border-bottom: 2px solid $blue-base !important;
  border-radius: 0 !important;
  cursor: pointer !important;
  height: select_height !important;
  line-height: 100%;
  margin-left: 1rem;
  width: $select_width !important;
}

.Select__dropdown-indicator {
  color: $blue-base !important;
}

.Select__value-container {
  height: 2.5rem !important;
  padding: 0 !important;
  width: inherit;

  // needed to stop input interfering with positioning of Select__menu
  > input {
    left: 0;
    pointer-events: none !important;
    position: absolute !important;
    top: 0;
  }
}

.Select__single-value {
  @extend %flex-center;
  height: inherit !important;
  margin: 0 !important;
  width: inherit !important;
}

.Select__indicator-separator {
  background-color: $blue-base !important;
}

.Select__menu {
  background-color: transparent !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  margin: 0 !important;
  margin-left: 1rem !important;
  top: calc(
    #{$select_height} * 2 + 3px
  ); // to compensate for Select__control border-bottom
  width: calc(#{$select_width} + 1px) !important;
  z-index: 100 !important;
}

.Select__menu-list {
  padding: 0 !important;
}

.Select__option {
  text-transform: capitalize;
}
