@import "../../assets/styles/colors.scss";
@import "../../assets/styles/mixins.scss";

.Dashboard {
  //
}

.Analytics {
  align-items: center;
  border: 1px solid rgba(#fff, 0.15);
  border-width: 0 1px;
  display: flex;
  justify-content: center;
}

.Analytics--blank {
  align-items: center;
  display: flex;
  flex-direction: column;

  svg {
    margin-bottom: 1rem;
  }
}

.Layout {
  align-items: center;
  display: flex;
  height: calc(100vh - 3rem - 1px);
  justify-content: center;
}

.Following {
  // align-items: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  // grid-template-columns: 1fr 1fr;
  height: calc(100vh - 3rem - 1px);
  // justify-content: center;
}

.Following__actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0 1rem;
}

.Following__intro {
  padding-top: 2rem;

  > div {
    position: relative;
  }

  p {
    font-size: 1.75rem;
    padding: 0 1rem;

    span {
      color: $blue-base;
    }
  }
}

.Following__list {
  @extend %scrollbar;
  overflow-y: scroll;
}

.Friend {
  border: 1px solid rgba(#fff, 0.15);
  border-width: 1px 0;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 3fr;
  padding: 1rem;
  position: relative;

  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1rem;
    font-weight: normal;
  }

  .Button {
    background-color: #999;
    border: none;
    color: #fff;
    height: 2rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 5rem;
    -webkit-appearance: none;

    &:hover {
      backtround-color: #000;
      cursor: pointer;
    }
  }
}

.Friend__avatar {
  @extend %flex-center;
  border: 1px solid transparent;
  border-radius: 50%;
  height: 4rem;
  overflow: hidden;
  width: 4rem;

  img {
    height: 4rem;
    width: 4rem;
  }
}

.Friend__id {
  margin-bottom: .5rem;
}

.Friend__description {
  font-size: .875rem;
}
