/**
 * Footer
 */

.Footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  text-align: center;

  a {
    margin-left: 0.25rem;
  }

  p {
    margin-bottom: 1rem;
  }
}

.Footer__buymeacoffee {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Footer__netlify {
  bottom: 1rem;
  position: absolute;
  right: 2rem;
}
