/**
 * Blues
 */

$blue-lighter: hsl(204, 67%, 76%);
$blue-light: hsl(198, 68%, 69%);
$blue-base: hsl(198, 76%, 57%);
$blue-dark: hsl(198, 59%, 51%);
$blue-darker: hsl(204, 100%, 26%);
$blue-darkest: hsl(204, 100%, 18%);
$darkblue-base: #2b333a;
$darkblue-darker: #22282d;

/**
 * Grays
 */

$gray-lightest: hsl(0, 0%, 60%);
$gray-lighter: hsl(0, 0%, 93%);
$gray-light: hsl(197, 6%, 77%);
$gray-base: hsl(196, 6%, 66%);
$gray-dark: hsl(203, 7%, 52%);
$gray-darker: hsl(206, 10%, 40%);
$gray-darkest: hsl(0, 0, 24%);
$gray-text: hsl(12, 4%, 77%);

/**
 * Reds
 */

$red-light: hsl(358, 82%, 58%); // #ec3c42
$red-base: hsl(355, 80%, 51%); // #e61e2f
$red-dark: hsl(352, 88%, 30%); // #90091b

/**
 * Other
 */

$green-base: hsl(71, 41%, 46%); // #94a545
$orange-base: hsl(32, 83%, 51%); // #ea8a1a
