@import "../../assets/styles/colors.scss";

/*
 * Layout Helpers
 */

%flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
%visibility-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
/*
 * Scrollbar
 */

%scrollbar {
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $blue-base;
    border-radius: 0;
    height: 2.5rem;
    width: 0.5rem;
  }
}
