@import "./colors";

/*
 * Layout Helpers
 */

%flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
%absolute-full-width {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
/*
 * Scrollbar
 */

%scrollbar {
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $blue-base;
    border-radius: 0;
    height: 2.5rem;
    width: 0.5rem;
  }
}
