a {
  color: #fff;
}

body {
  background-color: #15202b;
  color: #fff;
  font-family: "PT Sans", sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  width: 100vw;
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0;
}

.App {
  height: 100vh;
  overflow: hidden;
  width: 100vw;

  > div {
    height: inherit;
    width: inherit;
  }
}
