$default-blue: #1da1f2;

a {
  align-items: center;
  color: #fff;
  display: flex;
  text-decoration: none;
}

body {
  background-color: #15202b;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0;
}
