$default-blue: #1da1f2;

a {
  align-items: center;
  color: #fff;
  display: flex;
  text-decoration: none;
}

body {
  background-color: #15202b;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  height: inherit;
  margin: 0;
  width: inherit;
}

h1,
h2 {
  margin: 0;
}

html {
  height: 100vh;
  width: 100vw;
}

p {
  margin: 0;
}

#root {
  height: inherit;
  width: inherit;
}

.App {
  height: 100vh;
  width: 100vw;
}
